@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:wght@100;400;500;600;700&display=swap");

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
.heartbeat {
  animation: heartbeat 2s ease-in-out infinite;
  transform-origin: center center;
  display: inline-block;
}
@theme {
  --font-lato: "Lato", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Lato/Lato-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Lato/Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Lato/Semibold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Lato/Bold.ttf) format("truetype");
  }
}
