@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
.heartbeat {
  animation: heartbeat 2s ease-in-out infinite;
  transform-origin: center center;
  display: inline-block;
}

@layer base {
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Lato/Lato-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Lato/Medium.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Lato/Semibold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Lato/Bold.ttf) format("truetype");
  }
}
